
.brand {
color: white;
  width: 1372px;
  height: 447px;
  margin-top: -50px;
  padding: 61px;
 
}

.brand span{
  color: rgb(109, 8, 8);
 font-weight: bold;
}
nav{
  position: absolute;
}
nav ul{
  margin-top: -397px;
  margin-left: 292px;
    border: 1px solid #fff;
    height: 50px;
   

}
nav ul li{
text-decoration: none;
display: inline-block;
padding: 10px 20px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
 cursor: pointer;
  
}
nav ul li  a:hover{
  color:rgb(109, 8, 8);
  transition: .3s;
}

#hhh{
  width: 109%;
  height: 282%;
  margin-left: -1px;
overflow: hidden;
margin-top: -106px;

}
#lili{
  margin-left: 245px;
padding: 3px 10px ;
width: 16%;
border-radius: 20px;
border: none;
outline: none;
background: rgba(170, 162, 162, 0.3);
position: absolute;

left: 757px;
margin-top: -60px;

}
#title{
  color: #fff;
  margin-top: -500px;
  margin-left: 149px;
  font-weight: bold;
}
#para{
  color: #fff;
  margin-top: 10px;
  margin-left: 149px;
 
}

#title span{
  color:rgb(109, 8, 8);
}
.kiko{
  margin-left: 562px;
  margin-top: -34px
  ;
}
.glg{
  margin-left: 145px;
}
#clo{
color: white;
margin-left: 120px;
margin-top: -10px;
}
#jiji{
  margin-left: 170px;
}
#milm{
margin-left: 170px;
}
#lop{
  margin-left: 10px;
}
#kilo{
  margin-left: 869px;
    margin-top: -51px;
    position: absolute;
}
#sisi{
 
 margin-left: 920px;
 margin-top: -120px;
}
#mlo5{
  position: absolute;
  margin-left: 420px;
}
#volo{
  position: absolute;
  margin-left: 961px;
  top: 19px;
  text-decoration: none;
}
.fat{
  background-color:black;
  margin-top: -45px;
  height: 500px;
}
.fat h2{
  color: rgb(109, 8, 8);
  margin-left: 122px;
}
.box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 1190px;

}
.hlil{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 902px;
}
.card-text{
  font-size: 10px;
  color: white;
}

.card-body{
  height: 160px;
  background-color: black;
}
.card{
  
  margin-top: 521px;
 
}
.hlil{
  background-color: black;
  height: 942px;
  margin-top: -479px;
}
.hanen{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 902px;
}
.ahmed{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 902px;
  margin-top: -556px;
  
}
#saf{
position: absolute;
margin-top: 76px;
    margin-left: 94px;
}
.hlil h1{
  color: white;
 margin-left: -1047px;
  margin-top: 600px;
  position: absolute;
  
}
#glk{
  color: white;
  margin-left: -1115px;
  margin-top: 1900px;
  position: absolute;
  
}
.angry h1{
  position: absolute;
  margin-top: 17px;
  color: white;
  margin-left: 75px;
  
}
.angry{
  background-color: black;
  height: 697px;
  margin-top: -1px;
}


.cc{
  width: 430px;
  height: 250px;
  box-shadow: 5px 15px 30px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 20px 10px 20px;
}
.cc img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.row{
  display: flex;
  justify-content: space-around;
 

}
.row img{
 width: 328px;
  height: 218px;
  margin-top: 127px;
  overflow: hidden;
 
}
.bju img{
  width: 302px;
  height: 218px;
  margin-top: 127px;
 
}
.bju{
  display: flex;
  justify-content: space-around;
 
}
.floii{
  display: flex;
  justify-content: space-around;
}
.floii img{
  width: 302px;
  height: 218px;
  margin-top: 127px;
}
#ffly{
  margin-left: -1021px;
  position: absolute;
  margin-top: 212px;
}
#ffly:hover{
  cursor: pointer;
  color: transparent;
}

#nn{
  position: absolute;
    margin-top: 208px;
    margin-left: -325px;
}
#nn:hover{
  cursor: pointer;
  color: transparent;
}
#lyl{
  position: absolute;
  margin-top: 208px;
  margin-left: 335px;
}
#lyl:hover{
  cursor: pointer;
  color: transparent;
}

#kk{
  position: absolute;
  margin-top: 208px;
  margin-left: 1041px; 
}
#kk:hover{
  cursor: pointer;
  color: transparent;
}
#ll{
  position: absolute;
  color: white;
  margin-top: 312px;
  margin-left: 131px;
}
#mm{
  position: absolute;
  color: white;
  background-color: gray;
  width: 46px;
  margin-top: 312px;
  margin-left: -1269px;
}

#pp{
  position: absolute;
  color: white;
  margin-top: 312px;
  margin-left: 782px;
}
#cx{
  position: absolute;
  color: white;
  background-color: gray;
  width: 46px;
  margin-top: 312px;
  margin-left: -593px;
}
#aa{
  position: absolute;
  color: white;
  margin-top: 312px;
  margin-left: 1473px;

}
#qq{
  position: absolute;
  color: white;
  background-color: gray;
  width: 46px;
  margin-top: 312px;
  margin-left: 94px;
}
#dd{

position: absolute;
color: white;
background-color: gray;
width: 46px;
margin-top: 312px;
margin-left: 776px;
}
#jj{
  position: absolute;
  color: white;
  margin-top: 312px;
  margin-left: 2146px;
}
#fd{
  position: absolute;
color: white;
background-color: gray;
width: 46px;
margin-top: 312px;
margin-left: 776px;
}
#lo{
  margin-left: 1191px;
  color: white;
  margin-top: -46px;
}

.car{
  position: absolute;
     margin-top: 125px;
      margin-left: 412px;
}
#saf:hover{
  color: transparent;
}
.ime{
  margin-left: 110px;
  margin-top: 9px;
}
.ime p{
  position: absolute;
  color: rgb(161, 158, 158);
 
  margin-left: -119px;
  margin-top: 9px;
}
.Fa{
  margin-left: 110px;
  margin-top: 1px;
}
.Fa p{
  position: absolute;
  color: rgb(161, 158, 158);
 font-size: 10px;
  margin-left: -119px;
  margin-top: 9px;
}
#video1{
  HEIGHT: 400px;
  width: 643px;
  margin-top: 1040px;
  margin-left: -755px;
  border: 1px solid #fff;
  border-radius: 10px;

}
.rad p{
  position: absolute;
  margin-left: -1236px;
  margin-top: -219px;
  font-size: 15px;
}
#gg{
  position: absolute;
  margin-left: -1236px;
  margin-top: -293px;
  font-weight: bold;
 font-size: 18px;

}
#gg span{
  color: rgb(109, 8, 8);
}
#lo:hover{
  color: rgb(109, 8, 8);
}
#po{
  margin-left: 53px;
  margin-top: 100px;
  clip-path: circle();
}
#lii{
  margin-left: 31px;
  margin-top: 100px;
  clip-path: circle();
}
#fam{
  margin-left: 31px;
  margin-top: 100px;
  clip-path: circle();
}
#ne{
  margin-left: 31px;
  margin-top: 100px;
  clip-path: circle();
}
#x{
  margin-left: 31px;
  clip-path: circle();
  margin-top: 100px;
}
#d{
  margin-left: 31px;
  clip-path: circle();
  margin-top: 100px;
}
#o{
  margin-left: 31px;
  clip-path: circle();
  margin-top: 100px;
}


.ouda h5{
display: inline-block;
margin: 28px;
color: white;

}
.marw{
  background-color: black;
  height: 266px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.tres h5{
  color: white;
  margin-left: 257px;
    margin-top: 35px;
}
.jolie h6{
  color: white;
  margin-left: 257px;
}
.imeb h5{
  color: white;
  margin-left: 796px;
  margin-top: -145px;
}
.bell {

  margin-left: 796px;
  color: white;
}
.moll{
  margin-left: 796px;
  color: white;
}
.ciel{
  background-color: black;
  height: 800px;
}
.ciel img{
  margin-top: 200px;
  height: 500px;
  width: 400px;
  margin-left: 100px;
}
.ciel h1{
  color: white; 
  margin-left: 550px;
  margin-top: -460px;
  display: flex;
}
.ciel p{
  color: white;
  margin-top: 100px;
  margin-left: 550px;
}
#jad{
  color: white;
  background-color:rgb(109, 8, 8) ;
  margin-left: 550px;

}
#wiem{
  color: rgb(109, 8, 8);
  margin-left: 20px;
}
#oudi{
  color: white;
  margin-left: 660px;
  margin-top: -25px;
}
#aich{
  color: rgb(109, 8, 8);
  margin-left: 700px;
  margin-top: -80px;
}
#kouss{
  color:white;
  margin-left: 730px;
  margin-top: -63px;

}
#alo{
color: white;
font-weight: bold;
text-align: center;
margin-left: 452px;

}
#alaa{
  margin-left: 1000px;
 background-color: rgb(109, 8, 8);
 border-radius: 10px;
 color: white;
 width: 100px;
 height: 50px;
 margin-top: -55px;
 position: absolute;
 border:rgb(109, 8, 8) ;
}
#khaw{
  background-color: rgb(109, 8, 8);
  color: white;
  margin-left: 367px;
  margin-top: 105px;
  position: absolute;
  width: 125px;
  height: 55px;
}
#khaw:hover{
  background-color: transparent;
}
#alaa:hover{
  background-color: transparent;
}
#ayoub{
  color: white;
  margin-left: 750px;
  margin-top: -45px;
  background-color:  rgb(109, 8, 8);
  position: absolute;
  height: 40px;
  width: 46px;

}
.ahmed a{
  text-decoration: none;
}
